{% extends "base.html" %}
{% load static %}
{% block title %}Название курса{% endblock %}
{% block content %}

	<div class="instructors cont">
		<div class="instructors_background" style="background-image:url(images/instructors_background.png)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">{{posts.title}}</h2>
				</div>
			</div>
			<div class="row instructors_row">

				<!-- Instructor -->
				<div class="col-lg instructor_col">
					<div class="instructor text-center">
						<div class="course_image"><img src="{% static posts.img %}" alt=""></div>
						<pre style="text-align: left;white-space: pre-line;font-size: 18px;font-family: 'Poppins', 'sans-serif';">
							{{posts.content}}</pre>

						<div class="instructor_social">
							<ul>
								<li><a href="https://vk.com/it_cube_satka"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'plugins/progressbar/progressbar.min.js' %}"></script>
<script src="{% static 'js/course.js' %}"></script>
</body>
</html>
{% endblock %}