{% extends "base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
{% include "scheme/carousel.html" %}
<!-- Courses -->
	<div class="courses">
		<div class="courses_background"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">Новости направлений!</h2>
				</div>
			</div>
			<div class="row courses_row">
				{% for post in posts %}
					{% include "scheme/single_post.html" %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}